{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Scheme Edit{% endblock %}
{% block content %}

<!--<h1 class="mb-4">Add Participant</h1>-->

<div class="container card p-4">
    <h2 class="mb-4 text-center">Enter Scheme Details</h2>

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <!-- ----------------------- Scheme Name --------------------- -->
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Scheme Name</label>
                {{ form.name|add_class:"form-control" }}
            </div>
        </div>

         <!-- --------------------  Scheme Gov Code ------------------- -->
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="{{ form.gov_code.id_for_label }}" class="form-label">Scheme Code</label>
                {{ form.gov_code|add_class:"form-control" }}
            </div>
        </div>

        <!-- ------------------------  County ------------------------ -->
        <div class="col-md-6 mb-4">
            <label for="{{ form.county.id_for_label }}" class="form-label">County</label>
            {{ form.county|add_class:"form-select" }}
        </div>

        <!-- ---------------------  Local Address --------------------- -->
        <div class="col-md-6 mb-4">
            <label for="{{ form.address.id_for_label }}" class="form-label">Local Address (excl. County)</label>
            {{ form.address|add_class:"form-control" }}
        </div>

        <!-- -------------------  Departments Text Area ----------------- -->
        <div class="mb-4">
            <label for="{{ form.new_departments.id_for_label }}" class="form-label">{{ form.new_departments.label }}</label>
            {{ form.new_departments|add_class:"form-control" }}
            <small class="text-muted">Separate multiple department names with commas.</small>
        </div>

        <!-- -------------------  Departments Check Box ----------------- -->
        <div class="form-check mb-3">
            {{ form.departments_disabled|add_class:"form-check-input" }}
            <label class="form-check-label" for="{{ form.departments_disabled.id_for_label }}">
                {{ form.departments_disabled.label }}
            </label>
        </div>

        <!-- -----------------------  Save Button ---------------------- -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </div>
    </form>

    <script src="{% static 'ce/scheme.js' %}"></script>

</div>
{% endblock %}